KEYVALUE_PORT=6379 # default
KEYVALUE_PASSWORD=
KEYVALUE_DATABASE=0 # default
DATABASE_USER=terminus
DATABASE_PASSWORD=
DATABASE_PORT=5432 # default
DATABASE_NAME=terminus
HANAMI_PORT=3333
API_URI=
APP_SECRET=
